.my-guides-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.my-plants-search {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.my-plants-search input {
    width: 360px;
    max-width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2rem;
    background-color: #f4f0dd;
    color: #222222;
}

.my-guide-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    background-color: #f4f0dd;
    padding: 2rem;
    width: 300px;
    max-width: 300px;
    border-radius: 10px;
    text-align: left;
}

.my-guide-card h3,
.my-guide-card p {
    margin: 0;
    color: #222222;
}

.my-guide-card h3 + p {
    margin-top: -0.3rem;
}

.my-guide-image {
    width: calc(100% + 4rem);
    height: 240px;
    object-fit: cover;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2rem;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0.75rem;
}

.my-guide-card p {
    text-align: left;
    margin-bottom: 1em;
    font-size: 14px;
}

.add-guide-button {
    margin-top: 1rem;
    background-color: #FFB2B9;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
}

.add-guide-button:hover {
    background-color: #FF7F87;
}

.delete-guide-button {
    background-color: #FFB2B9;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
}

.delete-guide-button:hover {
    background-color: #FF7F87;
}

.edit-guide-button {
    background-color: #FFB2B9;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
}

.edit-guide-button:hover {
    background-color: #FF7F87;
}

.guide-actions {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

h1 {
    text-align: center;
    margin-bottom: 4rem;

}

.no-guides {
    text-align: center;
    font-size: 18px;
    margin-bottom: 2rem;
}

.add-guide-button {
    display: block;
    margin: 4rem auto;
}

